.pdiv {
    width: 2000;

}
.pchild {
    display: inline-block;
    width: 100%;
}
h1 {
    align-self: center;
}

  p {
    color: black;
    font-size: 25px;
  }

  a {
    font-size: 30px;
    color: black
  }
  body {
    -webkit-text-size-adjust: none;
  }


  @media (max-width: 420px){
    .pdiv {
        width: 300;
    
    }
    .pchild {
        display: inline-block;
        width: 100%;
    }
    #globalImg {
        height: 100px;
        width: 340px;
    }
    #headerImage {
        height: 100px;
        width: 345px;
    }

    h1 {
        align-self: center;
    }
    
      p {
        color: black;
        font-size: 15px;
      }
    
      a {
        font-size: 20px;
        color: black
      }

      
  }